<a href="https://colab.research.google.com/github/Sneha-GenZ/Python_codes/blob/main/py_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Assignment**
---------------------------------------------------------------------------
Q1. L is a list defined as L= [11, 12, 13, 14].

In [ ]:
#(i)WAP to add 50 and 60 to L.
L=[11,12,13]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 50, 60]

In [ ]:
#(ii)WAP to remove 11 and 13from L.
L=[11, 12, 13, 50, 60]
L.remove(12)
print(L)

[11, 13, 50, 60]

In [ ]:
#(iii)WAP to sort L in ascending order.
L=[11, 12, 13, 50, 60]
L.sort()
print(L)

[11, 12, 13, 50, 60]

In [ ]:
#(iv)WAP to sort L in descending order.
L=[11, 12, 13, 50, 60]
L.sort(reverse=True)
print(L)

[60, 50, 13, 12, 11]

In [ ]:
#(v)WAP to search for 13 in L.
L=[11, 12, 13, 50, 60]
print(13 in L)

True

In [ ]:
#(vi)WAP to count the number of elements present in L.
L=[11, 12, 13, 50, 60]
print(len(L))

5

In [ ]:
#(vii)WAP to sum all the elements in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  sum+=i
print(sum)

146

In [ ]:
#(viii)WAP to sum all ODD numbers in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  if i%2 != 0:
    sum+=i
  else:
    continue
print(sum)

24

In [ ]:
#(ix)WAP to sum all EVEN numbers in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  if i%2 == 0:
    sum+=i
  else:
    continue
print(sum)

122

In [ ]:
#(x)WAP to sum all PRIME numbers in L.
L=[11, 12, 13, 50, 60]
sum=0
j = 0
for num in L:
  for num in range(2,num//2+1):
    if num%2==0:
      flag=1
      break
if flag==0:
  sum+=num
print(sum)

IndexError: list index out of range

In [ ]:
#(x) WAP to sum all PRIME numbers in L.
L = [11, 12, 13, 50, 60]
prime_sum = 0

for num in L:
    if num > 1:
        is_prime = True
        for i in range(2, num // 2 + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_sum += num

print(prime_sum)

24

In [ ]:
#(xi)WAP to delete L.
L=[11, 12, 13, 50, 60]
del(L)
print(L)
#Shows error as "del" deletes the data as well as the variable which stores it.

NameError: name 'L' is not defined

In [ ]:
#(xii) WAP to clear all the elements in L.
L=[11, 12, 13, 50, 60]
L.clear()
print(L)

[]

# **Data Structure-Dictionary**
Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

In [ ]:
#(i) WAP to add new entry in D; key=8 and value is 8.8
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#(ii) WAP to remove key=2.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
#(iii) WAP to check whether 6 key is present in D.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(6 in D)

False

In [ ]:
#(iv) WAP to count the number of elements present in D.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
len(D)

5

In [ ]:
#(v) WAP to add all the values present D.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
sum(D.values())

36.4

In [ ]:
#(vi) WAP to update the value of 3 to 7.1.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [ ]:
#(vii) WAP to clear the dictionary.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print ("After Clear --> ",D)

After Clear -->  {}

# **Data Structure - Set**

*   Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
*   S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [ ]:
#(i) WAP to add 55 and 66 in Set S1.
S1 = set(["10", "20", "30", "40", "50", "60"])
S1.add(55)
S1.add(66)
print ("Set After Adding (55 & 66) --> ", S1)

Set After Adding (55 & 66) -->  {'10', 66, '50', '40', 55, '30', '60', '20'}

In [ ]:
#(ii) WAP to remove 10 and 30 from Set S1.
S1 = set(['10', '20', 30, '40', '50', '60'])
S1.remove('10')
S1.remove(30)
print ("Set After removing (10 & 30) --> ", S1)

Set After removing (10 & 30) -->  {'50', '40', '60', '20'}

In [ ]:
#(iii) WAP to check whether 40 is present in S1.
S1 = set([10, 20, 30, 40, 50, 60])
print(40 in S1)

True

In [ ]:
#(iv) WAP to find the union between S1 and S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("Union of S1 and S2    --> ", S1.union(S2))

Original set S1      -->  {'10', '50', '40', '30', '60', '20'}
Original set S2      -->  {'50', '70', '90', '80', '40', '60'}
Union of S1 and S2    -->  {'10', '50', '70', '90', '80', '40', '30', '60', '20'}

In [ ]:
#(v) WAP to find the intersection between S1 and S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("Union of S1 and S2    --> ", S1.intersection(S2))
print ("Union of S1 and S2    --> ", S2.intersection(S1))

Original set S1      -->  {'10', '50', '40', '30', '60', '20'}
Original set S2      -->  {'50', '70', '90', '80', '40', '60'}
Union of S1 and S2    -->  {'60', '40', '50'}
Union of S1 and S2    -->  {'60', '40', '50'}

In [ ]:
#(vi) WAP to find the S1 - S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("S1 - S2   --> ", S1-S2 )

Original set S1      -->  {'10', '50', '40', '30', '60', '20'}
Original set S2      -->  {'50', '70', '90', '80', '40', '60'}
S1 - S2   -->  {'30', '10', '20'}

# **Additional**
Q4. Write the following program.
* (i) WAP to print 100 random strings whose length between 6 and 8.

In [ ]:
import random as r
import string as s
for i in range(100):
  val="".join(r.sample(s.ascii_letters,r.randint(6,8)))
  print(val)

BsyzmL
XpKCbYS
LeTIrN
YBsZzH
QJrxaVGI
zNPsyM
ujrUJmnT
MutaycdZ
sYvRJT
koWLgGpA
qnDSjg
IQkYdo
ysxFGp
xSQpUMqC
MGVRieqs
JiTNoz
DCZgkepO
oLadEIl
QmDOLei
IhgPuCj
BuahtnOg
rpmqDIH
ZxdNgfY
dtSNWqsY
GXSMrEbO
gkGOxefF
jSyihMPK
rRkDygI
DxNugo
qULdWf
EpeuKSQ
KHIFLit
XauEnLY
vQTJVf
PdEakuYx
NejIXAoM
YkOluFJ
KkYteHx
OlbZFJU
KnzrwQ
pFodyP
iugKGcFz
MAbqBtaX
ZXQvRyY
DaOtbc
kmuEpD
HcrUVhs
hAcaWHKz
NctPidRx
tzFSlAW
QEngiS
TkWIut
iDoEPVYx
bQmgpt
yQoDJemZ
FnCptce
GlaURZ
nKZIoDBA
UxVtrc
BgyiXHaZ
yAqUSp
RvzEMIl
hDVaGS
wEPoBaKJ
yHjAYnF
mHInvb
WebDgcK
hwTMBAQI
urzwptH
qFzlhQ
BdYmlP
HmdQagFv
ofjkiRmT
xLCkgX
WDnBmbP
rThdmyE
vmeIDr
lkXQoqML
pZhkNAyY
dPFmYwZt
SpoRFXG
mrxKyB
GJurRTHI
CiQSOl
MPiwoaE
esLjHXu
PvGIsJ
IVGHbhR
NxvZWIgl
XMOnQoDu
LENgRK
ogSDpR
VFhSzRXN
YhgivWP
sydqUhX
KziXnIB
BmjhIcp
POSBvfX
roHNbxF
RXFmNvLA

Q.4.(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
print("Prime numbers between 600 and 800:")
for num in range(600,801):
  for i in range(2,int(num//2+1)):
    if (num%i)==0:
        break
  else:
        print(num)

Prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Q.4.(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
for num in range(100,1001):
  if num%7==0 and num%9==0:
    print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find -

*   Common numbers in the two lists
*   Unique numbers in both the list
*   Minimum in both the list
*  Maximum in both the list
*   Sum of both the lists

In [ ]:
L1=[]
L2=[]
for i in range(11):
  num=r.randint(10,30)
  n=r.randint(10,30)
  L1.append(num)
  L2.append(n)
print(L1)
print(L2)

[27, 26, 14, 26, 12, 29, 13, 29, 10, 16, 27]
[27, 30, 20, 14, 16, 15, 12, 10, 14, 28, 14]

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
*    (i) All odd numbers
*(ii) All even numbers
*(iii) All prime numbers

In [ ]:
import random as r
l=[]
l1=[]
l2=[]
l3=[]

for i in range(0,101):
  n=r.randint(100,900)
  l.append(n)

for i in range(0,101):
   if i%2 !=0:
     l1.append(i)

for i in range(0,101):
   if i%2 ==0:
     l2.append(i)

for i in range(2,n//2+1):
  if n%i !=0:
    l3.append(i)

print("List of 100 random numbers between 100 and 900 : ",l)
print("All odd numbers : ",l1)
print("All even numbers : ",l2)
print("All prime numbers : ",l3)

List of 100 random numbers between 100 and 900 :  [662, 841, 746, 187, 351, 517, 643, 652, 116, 371, 548, 609, 219, 548, 256, 612, 711, 172, 895, 278, 845, 474, 593, 365, 857, 842, 654, 604, 118, 607, 566, 492, 728, 551, 592, 698, 877, 795, 138, 137, 560, 287, 608, 260, 483, 674, 648, 530, 584, 468, 140, 496, 107, 442, 453, 106, 599, 687, 214, 893, 658, 374, 161, 250, 582, 419, 674, 677, 832, 213, 717, 601, 494, 258, 870, 123, 716, 253, 143, 248, 456, 440, 393, 393, 366, 117, 230, 457, 394, 124, 323, 269, 759, 862, 238, 497, 305, 429, 764, 616, 338]
All odd numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
All even numbers :  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
All prime numbers :  [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168]

In [ ]:
print(l1)

[152, 482, 655, 306, 545, 115, 164, 803, 406, 576, 382, 301, 336, 827, 402, 112, 877, 815, 285, 509, 173, 579, 837, 552, 247, 246, 172, 580, 644, 395, 380, 741, 619, 393, 369, 579, 250, 637, 406, 103, 159, 702, 108, 828, 691, 889, 303, 142, 871, 696, 125, 120, 842, 333, 646, 865, 143, 602, 607, 132, 791, 574, 638, 420, 687, 261, 576, 475, 276, 348, 811, 896, 829, 640, 877, 388, 761, 828, 186, 723, 274, 728, 403, 778, 427, 350, 788, 686, 376, 885, 194, 418, 648, 819, 594, 380, 356, 177, 839, 211, 285]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.

*  Key1, Value1
*   Key2, Value2
*  Key3, Value3

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open a file in write mode
with open("output.txt", "w") as file:
    # Iterate through the dictionary
    for key, value in D.items():
        # Write key-value pairs to the file
        file.write(f"{key}, {value}\n")
# Read from file
with open("output.txt", "r") as file:
    for line in file:
        # Split the line into key and value
        key, value = line.strip().split(", ")
        print(f"Key: {key}, Value: {value}")

Key: 1, Value: One
Key: 2, Value: Two
Key: 3, Value: Three
Key: 4, Value: Four
Key: 5, Value: Five

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
* WAP to count the length of reach element from a list and write to the file in the given below format:
--->One, 3
--->Two, 3
--->Four, 4

In [3]:
L=["One","Two","Three","Four","Five"]
for i in L:
  print("--> ",i," , ",len(i))

-->  One  ,  3
-->  Two  ,  3
-->  Three  ,  5
-->  Four  ,  4
-->  Five  ,  4

Q11. WAP to calculate the time taken by a program.

In [ ]:
import time
start_time=time.time()
def add():
  num1=121
  num2=576
  sum=num1+num2
  return sum
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken by the program: {elapsed_time} seconds")
print(start_time)

Time taken by the program: 0.0001685619354248047 seconds
1718274694.538803

#**Challenge Question**

In [ ]:
# Write a python program to sort the list of heterogeneous data.
L = ["Ram", "1", "Shyam", "2", "Aman", "3"] #All the data should be of same type(i.e. string in this case) in order to  sort it.
print("Before sorting :",L)
L.sort()
print("After sorting : ",L)

Before sorting : ['Ram', '1', 'Shyam', '2', 'Aman', '3']
After sorting :  ['1', '2', '3', 'Aman', 'Ram', 'Shyam']

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.

In [ ]:
# Define a dictionary with student names as keys and lists of their marks as values
student_marks = {
    'Alice': [88, 76, 92, 85, 69],
    'Bob': [75, 64, 80, 70, 68],
    'Charlie': [90, 91, 85, 88, 87],
    'David': [65, 70, 72, 60, 66],
    'Eva': [95, 89, 92, 94, 90]
}

# Calculate the average marks for each student
average_marks = {}
for student, marks in student_marks.items():
    average_marks[student] = sum(marks) / len(marks)

# Find the student with the maximum and minimum average marks
max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)

print(f"Student with the maximum average marks: {max_student} with an average of {average_marks[max_student]:.2f}")
print(f"Student with the minimum average marks: {min_student} with an average of {average_marks[min_student]:.2f}")